# Boston Housing Price Prediction

### Load needed files

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

C:\Users\ASUS\anaconda3\envs\project\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\ASUS\anaconda3\envs\project\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\ASUS\anaconda3\envs\project\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\ASUS\anaconda3\envs\project\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\ASUS\anaconda3\envs\project\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\ASUS\anaconda3\envs\project\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\ASUS\anaconda3\envs\project\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\ASUS\anaconda3\envs\project\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\ASUS\anaconda3\envs\project\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\ASUS\anaconda3\envs\project\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\ASUS\anaconda3\envs\project\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\ASUS\anaconda3\envs\project\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
train_df = pd.read_csv('https://firebasestorage.googleapis.com/v0/b/bible-project-2365c.appspot.com/o/train.csv?alt=media&token=9c5d17c2-0589-43ea-b992-e7c2ad02d714', index_col='ID')
train_df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
ID,,,,,,,,,,,,,,
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [3]:
test_df = pd.read_csv('https://firebasestorage.googleapis.com/v0/b/bible-project-2365c.appspot.com/o/test.csv?alt=media&token=99688b27-9fdb-4ac3-93b8-fa0e0f4d7540', index_col='ID')
test_df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
ID,,,,,,,,,,,,,
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
6,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21
8,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15
9,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93
10,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10

In [4]:
predictors = ['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat']
target = 'medv'

### we must normalize our data for neural networks to perform optimally

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [6]:
scaler = MinMaxScaler(feature_range=(0, 1))
# Scale both the training inputs and outputs
scaled_train = scaler.fit_transform(train_df)
#scaled_test = scaler.transform(test_df)

In [7]:
# Print out the adjustment that the scaler applied to the total_earnings column of data
print("Note: median values were scaled by multiplying by {:.10f} and adding {:.6f}".format(scaler.scale_[13], scaler.min_[13]))

Note: median values were scaled by multiplying by 0.0222222222 and adding -0.111111

In [8]:
multiplied_by = scaler.scale_[13]
added = scaler.min_[13]

In [9]:
print(type(scaled_train))

<class 'numpy.ndarray'>

In [10]:
scaled_train_df = pd.DataFrame(scaled_train, columns=train_df.columns.values)

# Let't build our tf.keras model

In [11]:
model = tf.keras.Sequential()

In [12]:
model.add(tf.keras.layers.Dense(50, activation='relu'))
model.add(tf.keras.layers.Dense(100, activation='relu'))
model.add(tf.keras.layers.Dense(50, activation='relu'))
model.add(tf.keras.layers.Dense(1))

WARNING:tensorflow:From C:\Users\ASUS\anaconda3\envs\project\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [13]:
model.compile(loss='mean_squared_error', optimizer='adam')

In [14]:
X = scaled_train_df.drop(target, axis=1).values
Y = scaled_train_df[[target]].values

In [15]:
# Train the model
model.fit(
    X[10:],
    Y[10:],
    epochs=50,
    shuffle=True,
    verbose=2
)

Epoch 1/50
323/323 - 0s - loss: 0.1139
Epoch 2/50
323/323 - 0s - loss: 0.0416
Epoch 3/50
323/323 - 0s - loss: 0.0323
Epoch 4/50
323/323 - 0s - loss: 0.0272
Epoch 5/50
323/323 - 0s - loss: 0.0233
Epoch 6/50
323/323 - 0s - loss: 0.0197
Epoch 7/50
323/323 - 0s - loss: 0.0174
Epoch 8/50
323/323 - 0s - loss: 0.0142
Epoch 9/50
323/323 - 0s - loss: 0.0126
Epoch 10/50
323/323 - 0s - loss: 0.0119
Epoch 11/50
323/323 - 0s - loss: 0.0106
Epoch 12/50
323/323 - 0s - loss: 0.0095
Epoch 13/50
323/323 - 0s - loss: 0.0091
Epoch 14/50
323/323 - 0s - loss: 0.0087
Epoch 15/50
323/323 - 0s - loss: 0.0084
Epoch 16/50
323/323 - 0s - loss: 0.0078
Epoch 17/50
323/323 - 0s - loss: 0.0080
Epoch 18/50
323/323 - 0s - loss: 0.0071
Epoch 19/50
323/323 - 0s - loss: 0.0073
Epoch 20/50
323/323 - 0s - loss: 0.0070
Epoch 21/50
323/323 - 0s - loss: 0.0077
Epoch 22/50
323/323 - 0s - loss: 0.0072
Epoch 23/50
323/323 - 0s - loss: 0.0063
Epoch 24/50
323/323 - 0s - loss: 0.0063
Epoch 25/50
323/323 - 0s - loss: 0.0062
Epoch 26/50
323/323 - 0s - loss: 0.0082
Epoch 27/50
323/323 - 0s - loss: 0.0059
Epoch 28/50
323/323 - 0s - loss: 0.0060
Epoch 29/50
323/323 - 0s - loss: 0.0059
Epoch 30/50
323/323 - 0s - loss: 0.0053
Epoch 31/50
323/323 - 0s - loss: 0.0084
Epoch 32/50
323/323 - 0s - loss: 0.0066
Epoch 33/50
323/323 - 0s - loss: 0.0054
Epoch 34/50
323/323 - 0s - loss: 0.0048
Epoch 35/50
323/323 - 0s - loss: 0.0046
Epoch 36/50
323/323 - 0s - loss: 0.0045
Epoch 37/50
323/323 - 0s - loss: 0.0046
Epoch 38/50
323/323 - 0s - loss: 0.0049
Epoch 39/50
323/323 - 0s - loss: 0.0045
Epoch 40/50
323/323 - 0s - loss: 0.0044
Epoch 41/50
323/323 - 0s - loss: 0.0042
Epoch 42/50
323/323 - 0s - loss: 0.0040
Epoch 43/50
323/323 - 0s - loss: 0.0041
Epoch 44/50
323/323 - 0s - loss: 0.0039
Epoch 45/50
323/323 - 0s - loss: 0.0038
Epoch 46/50
323/323 - 0s - loss: 0.0038
Epoch 47/50
323/323 - 0s - loss: 0.0037
Epoch 48/50
323/323 - 0s - loss: 0.0035
Epoch 49/50
323/323 - 0s - loss: 0.0034
Epoch 50/50
323/323 - 0s - loss: 0.0040

In [16]:
test_error_rate = model.evaluate(X[:10], Y[:10], verbose=0)
print("The mean squared error (MSE) for the test data set is: {}".format(test_error_rate))

The mean squared error (MSE) for the test data set is: 0.0026365446392446756

In [17]:
prediction = model.predict(X[:1])

In [18]:
y_0 = prediction[0][0]
print('Prediction with scaling - {}',format(y_0))
y_0 -= added
y_0 /= multiplied_by
print("Housing Price Prediction  - ${}".format(y_0))

Prediction with scaling - {} 0.4927240014076233
Housing Price Prediction  - $27.172580063343048

In [19]:
Y_0 = Y[0]
print('Ground truth with scaling - {}'.format(Y_0))
Y_0 -= added
Y_0 /= multiplied_by

print('Ground Truth Price - ${}'.format(Y_0))

Ground truth with scaling - [0.42222222]
Ground Truth Price - $[24.]